@import 'tailwindcss';

@media print {
  body * {
    visibility: hidden;
  }
  #printable-label,
  #printable-label * {
    visibility: visible;
  }
  #printable-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: white;
  }
}
